<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mb-3" style="font-size: 4rem;margin-top: 16px;">
               Ucuz Araç Kiralama Merkezi</h1>
            <p class="lead mb-4" style="font-size: 1.5rem;">
                Temiz arabalar. Esnek rezervasyonlar. Sosyal mesafeye uygun kiralama noktaları.
            </p>
          


        </div>

        <div class="col-md-6" style="margin-top: 110px;">
            <button style="    width: 150px;
            height: 50px;" type="button" class="btn btn-success" routerLink="cars">Hemen kirala</button>

        </div> 
    
    </div>

</div>